<div ng-controller="OrdersController">
   <h1> Orders and Customers</h1>
   <h4>Add a new order</h4>
   <form>
        <p>Customer : <select ng-model='new_order.name'> 
          <option ng-repeat = "customer in customers">{{customer.name}}</option>
        </select></p>
        <p>Order: <select ng-model='new_order.product'> 
          <option ng-repeat = "product in products">{{product.name}}</option>
        <select></p>
        <p><input type='submit' value='order' ng-click='addOrder()'></p>
    </form>
Search Customers: <input type="text" ng-model="filter_name">

  <table class="table table-striped">
    <thead>
    <tr>
    <th>Customer Name</th>
    <th>Products</th>
    <th>Date Created</th>
    <th>Action</th>
    </tr>
      <tr ng-repeat="order in orders | filter:filter_name | orderBy:'name'">
          <td>{{ order.name }}</td>
           <td>{{ order.product }}</td>
           <td>{{ order.date | date: formate: longdate }}</td>
           <td><button ng-click="removeOrder(order)">Delete</button></td>
           
      </tr>
      </thead> 
    </table>
  </div>